<a href="https://colab.research.google.com/github/RafikaSaadouni/CNN-LSTM/blob/main/CNN_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nouvelle section

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/data/KDDTest-21.txt')

In [ ]:
data.head

<bound method NDFrame.head of        0   tcp   private   REJ    0.1    0.2  0.3  0.4  0.5  0.6  ...  0.04.1  \
0      0   tcp   private   REJ      0      0    0    0    0    0  ...    0.00
1      2   tcp  ftp_data    SF  12983      0    0    0    0    0  ...    0.61
2      0  icmp     eco_i    SF     20      0    0    0    0    0  ...    1.00
3      1   tcp    telnet  RSTO      0     15    0    0    0    0  ...    0.31
4      0   tcp      http    SF    267  14515    0    0    0    0  ...    1.00
...   ..   ...       ...   ...    ...    ...  ...  ...  ...  ...  ...     ...
22538  0   tcp      smtp    SF    794    333    0    0    0    0  ...    0.72
22539  0   tcp      http    SF    317    938    0    0    0    0  ...    1.00
22540  0   tcp      http    SF  54540   8314    0    0    0    2  ...    1.00
22541  0   udp  domain_u    SF     42     42    0    0    0    0  ...    0.99
22542  0   tcp    sunrpc   REJ      0      0    0    0    0    0  ...    0.08

       0.06.1  0.00.3  0.00.4  0.00.5  0.00.6  1.00.2  1.00.3  neptune  21
0        0.06    0.00    0.00    0.00     0.0    1.00    1.00  neptune  21
1        0.04    0.61    0.02    0.00     0.0    0.00    0.00   normal  21
2        0.00    1.00    0.28    0.00     0.0    0.00    0.00    saint  15
3        0.17    0.03    0.02    0.00     0.0    0.83    0.71    mscan  11
4        0.00    0.01    0.03    0.01     0.0    0.00    0.00   normal  21
...       ...     ...     ...     ...     ...     ...     ...      ...  ..
22538    0.06    0.01    0.01    0.01     0.0    0.00    0.00   normal  21
22539    0.00    0.01    0.01    0.01     0.0    0.00    0.00   normal  21
22540    0.00    0.00    0.00    0.00     0.0    0.07    0.07     back  15
22541    0.01    0.00    0.00    0.00     0.0    0.00    0.00   normal  21
22542    0.03    0.00    0.00    0.00     0.0    0.44    1.00    mscan  14

[22543 rows x 43 columns]>

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/data/KDDTest+.txt')

In [ ]:
data.head

<bound method NDFrame.head of        0   tcp   private   REJ    0.1    0.2  0.3  0.4  0.5  0.6  ...  0.04.1  \
0      0   tcp   private   REJ      0      0    0    0    0    0  ...    0.00
1      2   tcp  ftp_data    SF  12983      0    0    0    0    0  ...    0.61
2      0  icmp     eco_i    SF     20      0    0    0    0    0  ...    1.00
3      1   tcp    telnet  RSTO      0     15    0    0    0    0  ...    0.31
4      0   tcp      http    SF    267  14515    0    0    0    0  ...    1.00
...   ..   ...       ...   ...    ...    ...  ...  ...  ...  ...  ...     ...
22538  0   tcp      smtp    SF    794    333    0    0    0    0  ...    0.72
22539  0   tcp      http    SF    317    938    0    0    0    0  ...    1.00
22540  0   tcp      http    SF  54540   8314    0    0    0    2  ...    1.00
22541  0   udp  domain_u    SF     42     42    0    0    0    0  ...    0.99
22542  0   tcp    sunrpc   REJ      0      0    0    0    0    0  ...    0.08

       0.06.1  0.00.3  0.00.4  0.00.5  0.00.6  1.00.2  1.00.3  neptune  21
0        0.06    0.00    0.00    0.00     0.0    1.00    1.00  neptune  21
1        0.04    0.61    0.02    0.00     0.0    0.00    0.00   normal  21
2        0.00    1.00    0.28    0.00     0.0    0.00    0.00    saint  15
3        0.17    0.03    0.02    0.00     0.0    0.83    0.71    mscan  11
4        0.00    0.01    0.03    0.01     0.0    0.00    0.00   normal  21
...       ...     ...     ...     ...     ...     ...     ...      ...  ..
22538    0.06    0.01    0.01    0.01     0.0    0.00    0.00   normal  21
22539    0.00    0.01    0.01    0.01     0.0    0.00    0.00   normal  21
22540    0.00    0.00    0.00    0.00     0.0    0.07    0.07     back  15
22541    0.01    0.00    0.00    0.00     0.0    0.00    0.00   normal  21
22542    0.03    0.00    0.00    0.00     0.0    0.44    1.00    mscan  14

[22543 rows x 43 columns]>

In [ ]:
data.shape

(22543, 43)

In [ ]:
print('hello world')

# Nouvelle section